@import url('lunch.css');

.checkout-panel {
    position: sticky;
    /*background-color: rgba(255, 91, 62, 0.75);*/
    background-color: rgba(255, 255, 255, 0.81);
    border-radius: 50px 50px 0px 0px;
    filter: drop-shadow(0px 0px 50px rgb(0, 0, 0));
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem 5%;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.4s ease;
    font-size: 1.5rem;
}

.checkout-panel.visible {
    transform: translateY(0);
}

.checkout-button {
    background: rgb(183, 183, 183);
    color: white;
    padding: 0.9rem 1.8rem;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    font-weight: 400;
}

.checkout-button:hover {
    background: rgb(157, 157, 157);
}

