@import url('style.css');

.dishes_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    padding: 0rem 2rem;
    padding-bottom: 4rem;
}

.dish_card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 35px;
    padding: 30px 40px;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.dish_card:hover {
    outline: 2px solid tomato;
}

.dish_img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 35px;
    margin-bottom: 1rem;
}

.dish_name {
    font-size: larger;
    margin-bottom: 1.25rem;
}

.dish_weigth {
    margin-top: auto;
    margin-bottom: 5px;
    color: rgb(158, 158, 158);
}

.dish_price {
    font-size: larger;
}

.add_button {
    background-color: #f1eee9;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.dish_card:hover .add_button {
    background-color: rgb(205, 204, 204)
}

.dish_card.selected {
    outline: 3px solid tomato;
    background-color: #fffdfb;
    filter: drop-shadow(0px 0px 25px rgba(210, 88, 13, 0.11));
}

.order-form-section h2 {
    text-align: center;
}

.order-form-section {
    flex-direction: column;
    display: flex;
    padding: auto;
}

.order-form-section h3 {
    font-style: normal;
    font-weight: 450;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
}

.form-container {
    display: grid;
    padding: 0 10rem;
    grid-template-columns: 1fr 1fr;
}

.order-block,
.customer-block {
    padding: 0rem 4rem;
    display: flex;
    flex-direction: column;
}

.form-container input,
.form-container select {
    width: 100%;
    padding: 0.4rem;
    font-size: large;
    margin-bottom: 1rem;
}

.form-container label {
    margin-bottom: 3px;
}

.form-container textarea {
    padding: 0.25rem;
    font-size: large;
    height: 5rem;
    min-height: 3rem;
    max-height: 20rem;
    resize: vertical;
}

.checkbox-podpiska {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: baseline;
}

label.time_label {
    padding-bottom: 0.5rem;
}

#podpiska {
    width: 20px;
}

.rad {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    align-items: baseline;
}

#asap,
#specific {
    width: 20px;
}

#time_delivery {
    margin-bottom: 3px;
}

.time_delivery {
    color: rgb(143, 143, 143);
}

.buttons-block {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.buttons-block button {
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100%;
    background-color: #ffffff;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.buttons-block button[type="reset"]:hover {
    background-color: rgb(215, 215, 215);
}

.buttons-block button[type="submit"]:hover {
    background-color: tomato;
}

.selected-summary p{
    margin-bottom: 0.75rem;
}

.total-price {
    margin-bottom: 1.5rem;
}

.order-block h3 {
    text-decoration: underline;
    text-decoration-color: tomato;
}

#total-amount {
    font-size: 1.75rem;
}

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.filter-btn {
    padding: 0.4rem 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(89, 89, 89);
    border: none;
    background: none;
    border-radius: 10px;
    transition: 0.15s ease;
}

.filter-btn:hover {
    color: tomato;
    background-color: rgb(255, 229, 219);
}

.filter-btn.active {
    background-color: rgb(255, 229, 219);
    color: tomato;
}

@media (max-width: 800px) {
    .dishes_container {
        grid-template-columns: 1fr 1fr;
    }

    .main-menu ul {
        justify-content: space-between;
    }

    h1 {
        text-align: center;
    }

    .form-container {
        grid-template-columns: 1fr;
        padding: 0 0rem;
    }

    .filters {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .dishes_container {
        grid-template-columns: 1fr;
    }

    .main-menu ul {
        flex-direction: column;
        align-items: center;
    }

    .main-menu a {
        font-size: calc(1em + 4px);
    }

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }
}