body {
    background-color: rgb(247, 247, 250);
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.gameform {
    background-color: rgb(246, 250, 255);
    margin: auto;
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    border: 2px solid black;
    filter: drop-shadow(0px 0px 20px rgba(72, 74, 182, 0.23));
    border-radius: 35px;
    max-width: 600px;
}

.form h1{
    margin-bottom: 2rem;
}

.form h2{
    font-weight: 400;
    margin: 1rem;
}

.math_primer {
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

.input_and_sub {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
}

input {
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
    margin: 1rem auto;
    display: block;
    max-width: 100%;
}

.submit {
    margin: auto;
    width: 12rem;
    font-size: 1.25rem;
    padding: 0.5rem 0.25rem;
    background-color: rgb(7, 158, 15);
    color: white;
    border: none;
    border-radius: 10px;
}

.submit:hover {
    background-color: rgb(27, 182, 34);
    cursor: pointer;
}

.verify {
    font-weight: 600;
    font-size: 2rem;
    min-height: 3rem;
}

.manage_buttons {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.manage_buttons button {
    font-size: 1.25rem;
    padding: 0.5rem 0.25rem;
    color: rgb(0, 0, 0);
    background-color: rgb(212, 212, 212);
    border: none;
    width: 10rem;
    border-radius: 10px;
}

.manage_buttons button:hover {
    background-color: rgb(164, 164, 164);
    cursor: pointer;
}