.empty-orders-message {
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem 0rem;
    padding: 3rem 2rem;
    background-color: rgb(242, 242, 242);
    border-radius: 35px;
}

.empty-orders-message p {
    color: rgb(43, 43, 43);
    padding-bottom: 1rem;
}

.empty-orders-message p a {
    font-size: larger;
    text-decoration: none;
    font-weight: 500;
    color: rgb(47, 47, 47);
    transition: 0.1s ease-in;
}

.empty-orders-message p a:hover {
    color: tomato;
    text-decoration: underline;
}

.orders-table {
    width: 90%;
    border-collapse: collapse;
    border-left: 1px solid rgb(170, 170, 170);
    border-right: 1px solid rgb(170, 170, 170);
}

.orders-table td:nth-child(3),
.orders-table th:nth-child(3) {
    text-align: left; /* Выравнивание текста */
}

tr:first-child {
    font-weight: normal;
}

thead {
    background-color: rgb(255, 218, 211);
}

tbody tr {
    transition: 0.1s ease-in;
}

tbody tr:hover {
    background-color: rgb(253, 245, 244);
}

td, th {
    border: none;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    border-top: 1px solid rgb(170, 170, 170);
    border-bottom: 1px solid rgb(170, 170, 170);
}

td:first-child {
    width: 2rem;
}

/* Последний столбец с действиями */
td:last-child {
    width: 15rem;
    padding: 0.5rem 0; /* Чтобы было место по вертикали */
}

/* Обёртка для иконок */
.actions-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    height: 100%;
}

/* Размер иконок */
.actions-wrapper i {
    font-size: 1.5rem;
    color: #333;
    transition: all 0.2s ease;
}

/* Ховер-эффект */
.actions-wrapper i:hover {
    cursor: pointer;
    transform: translateY(-4px) scale(1.15);
    color: tomato;
}

/*  ---------------------СТИЛИЗАЦИЯ МОДАЛЬНЫХ ОКОН ----------------------------------------------------- */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.066);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-window {
    background-color: white;
    color: black;
    border-radius: 35px;
    font-size: 1.5rem;
    border: 2px solid black;
    filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.456));
    max-width: 50%;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}